@model ThBiz.DataAccess.Entity.OperateActive
@{
    Layout = null;
}

<div class="col-lg-12 row">
    <table class="table table-bordered" style="width: 1010px; margin: 5px;">
        <tr>
            <td colspan="2">
                <label style="width: 60px; font-weight: 600; color: #FBB44C;">活动名称</label>
                <input id="aName" class="form-control" style="width: 89%; display: inline;" value="@Model.ActiveName"/>
            </td>
            <td>
                <span style="width: 60px; font-weight: 600; color: #FBB44C;">活动渠道</span>
                <select id="aChannel" class="form-control" style="width: 70%; display: inline;">
                    <option value="">请选择</option>
                    <option value="自营" @(Model.ActiveChannel == "自营" ? "selected=\"\"" : "")>自营</option>
                    <option value="三方" @(Model.ActiveChannel == "三方" ? "selected=\"\"" : "")>三方</option>
                    <option value="汽配龙" @(Model.ActiveChannel == "汽配龙" ? "selected=\"\"" : "")>汽配龙</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label style="width: 60px; font-weight: 600; color: #FBB44C;">活动时间</label>
                <input id="aStar" class="form-control" style="width: 145px; display: inline;" value="@Model.ActiveStarDate.ToString("yyyy-MM-dd HH:mm")" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', skin: 'blueFresh', maxDate: '#F{$dp.$D(\'aEnd\')}' })" /> 至
                <input id="aEnd" class="form-control" style="width: 145px; display: inline;" value="@Model.ActiveEndDate.ToString("yyyy-MM-dd HH:mm")" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', skin: 'blueFresh', minDate: '#F{$dp.$D(\'aStar\')}' })" />
            </td>
            <td colspan="3">
                <label style="width: 60px; font-weight: 600; color: #FBB44C;">利益点</label>
                <input id="aPoint" class="form-control" style="width: 87%; display: inline;" value="@Model.InterestPoint"/>
            </td>
        </tr>
        <tr>
            <td style="width: 40%;">
                <label style="width: 60px; font-weight: 600;">优惠券</label>
                <input id="aCoupon" class="form-control" style="width: 80%; display: inline;" value="@Model.Coupon"/>
            </td>
            <td style="width: 35%;">
                <label style="width: 60px; font-weight: 600;">活动链接</label>
                <input id="aLink" class="form-control" style="width: 75%; display: inline;" value="@Model.ActiveLink"/>
            </td>
            <td style="width: 25%" colspan="2">
                <button class="btn btn-sm btn-info" onclick="addActiveProduct();">添加产品</button>
                <button class="btn btn-sm btn-warning" onclick="importProduct();">导入产品</button>
            </td>
        </tr>
    </table>
    <table class="table table-bordered" style="width: 1010px; margin: 5px;">
        <thead>
            <tr style="font-weight: 600; text-align: center;">
                <td style="width: 26%;">产品名称</td>
                <td style="width: 14%;">产品编号</td>
                <td style="width: 7%;">进货价</td>
                <td style="width: 8%;">日常售价</td>
                <td style="width: 8%;">活动价</td>
                <td style="width: 8%;">预计销量</td>
                <td style="width: 8%;">活动底价</td>
                <td style="width: 8%;">最低毛利</td>
                <td style="width: 8%;">预销金额</td>
                <td style="width: 5%;">操作</td>
            </tr>
        </thead>
        <tbody id="abody">
        @foreach (var info in Model.ActiveProductList)
        {
            <tr>
                <td>@info.ProductName</td>
                <td>@info.PID</td>
                <td>@info.PurchasePrice</td>
                <td>@info.DailyPrice</td>
                <td>
                    <input type="number" value="@info.ActivePrice" style="width: 100%;" onchange="changePrice(this);"/>
                </td>
                <td>
                    <input type="number" value="@info.ExpecteSale" style="width: 100%;" onchange="changePrice(this);"/>
                </td>
                <td>
                    <input type="number" value="@info.FloorPrice" style="width: 100%;" onchange="changePrice(this);"/>
                </td>
                <td>@info.MinMargin</td>
                <td>@info.ExpecteSaleAmount</td>
                <td>
                    <a onclick="$(this).closest('tr').remove();" style="cursor: pointer;">删除</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
    //添加活动产品
    function addActiveProduct() {
        layer.open({
            type: 2,
            title: "选择产品",
            skin: 'layui-layer-rim', //加上边框
            content: "/Platform/SelectOperateActiveProduct",
            area: ['780px', '500px'], //宽高
            btn: ['确定', '取消'],
            yes: function (index) {
                var body = layer.getChildFrame('body', index).contents();
                var array = [];
                body.find("#pbody").find("input[type=checkbox][name=spCheck]:checked").map(function () {
                    var product = {
                        "ProductName": $(this).attr("data-name"),
                        "PID": $(this).attr("data-pid"),
                        "PurchasePrice": $(this).attr("data-pprice"),
                        "DailyPrice": $(this).attr("data-dprice")
                    };
                    array.push(product);
                });
                if (array.length === "") {
                    layer.msg("请选择至少一个产品！", { icon: 0, time: 2000 });
                    return false;
                }
                addtbodyHtml(array);
                layer.close(index);
            },
            cancel: function () { }
        });
    }
    //添加tbody内容
    function addtbodyHtml(array) {
        var text = "";
        for (var i = 0; i < array.length; i++) {
            text +=
                "<tr>" +
                "<td>" + array[i].ProductName + "</td>" +
                "<td>" + array[i].PID + "</td>" +
                "<td>" + array[i].PurchasePrice + "</td>" +
                "<td>" + array[i].DailyPrice + "</td>" +
                "<td><input type='number' value='0' style='width: 100%;' onchange='changePrice(this);'></td>" +
                "<td><input type='number' value='0' style='width: 100%;' onchange='changePrice(this);'></td>" +
                "<td><input type='number' value='0' style='width: 100%;' onchange='changePrice(this);'></td>" +
                "<td>0.00</td>" +
                "<td>0.00</td>" +
                "<td><a onclick='$(this).closest(\"tr\").remove();' style='cursor: pointer;'>删除</a></td>" +
                "</tr>";
        }
        $("#abody").append(text);
    }
    //价格变动
    function changePrice(tra) {
        if (parseFloat($(tra).val()) < 0 || $(tra).val() == "") {
            $(tra).val(0);
        }
        var tds = $(tra).closest('tr').find('td');
        var pprice = parseFloat($(tds[2]).text());
        var aprice = parseFloat($(tds[4]).find('input').val());
        var ecount = parseFloat($(tds[5]).find('input').val());
        var fprice = parseFloat($(tds[6]).find('input').val());

        $(tds[7]).text((fprice-pprice).toFixed(2));
        $(tds[8]).text((ecount*aprice).toFixed(2));
    }
    //导入活动产品
    function importProduct() {
        layer.open({
            type: 2,
            title: "导入",
            skin: 'layui-layer-rim', //加上边框
            content: "/Home/ImportExcel?temp=/Content/excel/运营活动产品导入模版.xlsx",
            area: ['580px', '450px'], //宽高
            btn: ['导入', '取消'],
            yes: function (index) {
                var body = layer.getChildFrame('body', index).contents();

                if (body.find('#efile')[0].files.length <= 0) {
                    layer.msg('未选择文件！', { icon: 0, time: 2000 });
                    return false;
                }
                var checkFile = body.find('#efile')[0].files[0];
                if (checkFile.name == "" || checkFile.size > 10000000 || checkFile.name.indexOf(".xls") <= 0) {
                    layer.msg('文件限制，必须小于10M的Excel文件！', { icon: 0, time: 2000 });
                    return false;
                }
                var eload;
                body.find("#eform").ajaxSubmit({
                    url: "/Platform/ImportActiveProductList",
                    type: "post",
                    beforeSend: function () {
                        eload = layer.load();
                    },
                    complete: function () {
                        layer.close(eload);
                    },
                    success: function (data) {
                        var html = "";
                        if (data[0].ProductName != undefined) {
                            importbodyHtml(data);
                        } else {
                            for (var i = 0; i < data.length; i++) {
                                html +=
                                    "<tr>" +
                                    "<td style='width:5%;'>" + (i + 1) + "</td>" +
                                    "<td style='width:95%;'>" + data[i] + "</td>" +
                                    "</tr>";
                            }
                            body.find("#ebody").html(html);
                        }
                    },
                    error: function () {
                        layer.msg('数据传输失败！', { icon: 2, time: 2000 });
                    }
                });
            },
            cancel: function () { }
        });
    }
    //导入tbody内容
    function importbodyHtml(array) {
        var text = "";
        for (var i = 0; i < array.length; i++) {
            text +=
                "<tr>" +
                "<td>" + array[i].ProductName + "</td>" +
                "<td>" + array[i].PID + "</td>" +
                "<td>" + array[i].PurchasePrice + "</td>" +
                "<td>" + array[i].DailyPrice + "</td>" +
                "<td><input type='number' value='" + array[i].ActivePrice + "' style='width: 100%;' onchange='changePrice(this);'></td>" +
                "<td><input type='number' value='" + array[i].ExpecteSale + "' style='width: 100%;' onchange='changePrice(this);'></td>" +
                "<td><input type='number' value='" + array[i].FloorPrice + "' style='width: 100%;' onchange='changePrice(this);'></td>" +
                "<td>" + array[i].MinMargin + "</td>" +
                "<td>" + array[i].ExpecteSaleAmount + "</td>" +
                "<td><a onclick='$(this).closest(\"tr\").remove();' style='cursor: pointer;'>删除</a></td>" +
                "</tr>";
        }
        $("#abody").append(text);
    }
</script>
