@using ThBiz.Common.Configurations
@{
    Layout = "../Shared/_Inner.cshtml";
}
<div class="row">
    @using (Html.BeginForm("ExportPurchaseOrNew", "InfoList", FormMethod.Get, new { id = "SearchForm", @class = "col-lg-12 form-inline" }))
    {
        <div class="form-group">
            <label class="control-label">订单号</label>
            @Html.TextBox("purchaseOrderId", null, new { @type = "number", @class = "form-control", @style = "width: 140px;" })
        </div>
        <div class="form-group">
            <label class="control-label">产品单号</label>
            @Html.TextBox("purchaseId", null, new { @type = "number", @class = "form-control", @style = "width: 140px;" })
        </div>
        <div class="form-group">
            <label class="control-label">仓库</label>
            @Html.DropDownList("wareHouseId", new SelectList(ViewBag.WareHourse as System.Collections.IEnumerable, "PKID", "SimpleName"), "所有", new {@class="form-control", @style="width: 160px;"})
        </div>
        <div class="form-group">
            <label class="control-label">供应商</label>
            @Html.DropDownList("vendorId", new SelectList(ViewBag.VendorList as System.Collections.IEnumerable, "PKID", "SimpleName"), "所有", new { @class = "form-control", @style = "width: 160px;"})
        </div>
        <div class="form-group">
            <label class="control-label">产品名称</label>
            @Html.TextBox("productName", null, new { @placeholder = "请输入名称或编号", @class = "form-control", @style = "width: 180px;" })
        </div>
        <div class="form-group">
            <label class="control-label">状态</label>
            <select id="status" name="status" class="form-control" style="width: 90px;">
                <option value="">所有</option>
                <option value="新建">新建</option>
                <option value="预约中">预约中</option>
                <option value="已发货">已发货</option>
                <option value="已收货">已收货</option>
                <option value="部分收货">部分收货</option>
                <option value="待审核">待审核</option>
                <option value="已驳回">已驳回</option>
                <option value="待修改">待修改</option>
                <option value="待取消">待取消</option>
                <option value="已取消">已取消</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">采购人</label>
            @Html.DropDownList("employee", new SelectList(ViewBag.Employee as System.Collections.IEnumerable, "EmailAddress", "EmployeeName"), "所有", new {@class = "form-control", @style = "width: 160px;"})
        </div>
        <div class="form-group">
            <button type="button" id="more-search-condition" class="btn btn-sm btn-primary" onclick="ShowSearchCondition(this);">更多查询条件</button>
        </div><br/>
        <div id="moresearchcondition" style="display: none;">
            <div class="form-group">
                <label class="control-label">采购方式</label>
                <select id="purchaseMode" name="purchaseMode" class="form-control" style="width: 100px;">
                    <option value="">-请选择-</option>
                    <option value="0">正常</option>
                    <option value="1">补货</option>
                    <option value="2">专项</option>
                    <option value="3">扫货</option>
                    <option value="4">零采</option>
                    <option value="7">汽配龙</option>
                    <option value="8">预约采购</option>
                    <option value="9">活动备货</option>
                    <option value="10">大客户</option>
                    <option value="11">门店外采</option>
                    <option value="12">货权转移</option>
                    <option value="13">即采即销</option>
                    <option value="5">退货</option>
                    <option value="6">红冲</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">申请状态</label>
                <select id="auditStatus" name="auditStatus" class="form-control" style="width: 120px;">
                    <option value="-1">所有</option>
                    <option value="5">未请款</option>
                    <option value="0">待财务初审</option>
                    <option value="1">待财务终审</option>
                    <option value="2">待出纳付款</option>
                    <option value="4">被驳回</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">创建日期</label>
                <input name="startDate" id="startDate" class="form-control" style="width: 120px;" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', skin: 'blueFresh', maxDate: '#F{$dp.$D(\'endDate\')}' })" /> 至
                <input name="endDate" id="endDate" class="form-control" style="width: 120px;" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', skin: 'blueFresh', minDate: '#F{$dp.$D(\'startDate\')}' })" />
            </div>
            <div class="form-group">
                <label class="control-label">预计到货时间</label>
                <input name="planStartDate" id="planStartDate" class="form-control" style="width: 120px;" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', skin: 'blueFresh', maxDate: '#F{$dp.$D(\'planEndDate\')}' })" /> 至
                <input name="planEndDate" id="planEndDate" class="form-control" style="width: 120px;" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', skin: 'blueFresh', minDate: '#F{$dp.$D(\'planStartDate\')}' })" />
            </div>
            <div class="form-group">
                <label class="control-label" style="color:#4AC4AB">支付状态</label>
                <label><input type="radio" name="payStatus" class="form-control" value="" checked="checked" />所有</label>
                <label><input type="radio" name="payStatus" class="form-control" value="0UnPaid" />未付款</label>
                <label><input type="radio" name="payStatus" class="form-control" value="2PartPaid" />部分付款</label>
                <label><input type="radio" name="payStatus" class="form-control" value="2Paid" />已付款</label>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #FF8247">是否到票</label>
                <label><input type="radio" name="receiptInvoice" class="form-control" value="" checked="checked" />所有</label>
                <label><input type="radio" name="receiptInvoice" class="form-control" value="0" />否</label>
                <label><input type="radio" name="receiptInvoice" class="form-control" value="1" />是</label>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #9F79EE">邀货单</label>
                <label><input type="radio" name="isBookingOrder" class="form-control" checked="checked" value="" />所有</label>
                <label><input type="radio" name="isBookingOrder" class="form-control" value="0" />否</label>
                <label><input type="radio" name="isBookingOrder" class="form-control" value="1" />是</label>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #8B7500">报价抢单</label>
                <label><input type="radio" name="isBookingOrdered" class="form-control" checked="checked" value="" />所有</label>
                <label><input type="radio" name="isBookingOrdered" class="form-control" value="1" />抢单成功</label>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #71C671">门店采购单</label>
                <label><input type="radio" name="isShopPurchaseOrder" class="form-control" value="-1" />所有</label>
                <label><input type="radio" name="isShopPurchaseOrder" class="form-control" checked="checked" value="0" />否</label>
                <label><input type="radio" name="isShopPurchaseOrder" class="form-control" value="1" />是</label>
            </div>
        </div>
        <div class="form-group">
            <input type="button" id="Subsearch" class="btn btn-sm btn-success" value="查询" onclick="SubsearchShopPosIndexTable()" />
        </div>
        <div class="form-group">
            <input type="submit" id="ExportPurchaseOr" class="btn btn-sm btn-warning" value="导出" btnkey="ExportPurchaseOrder" istuhuverify="1" />
        </div>
        <div class="form-group">
            <input type="button" value="批量请款" class="btn btn-sm btn-danger" onclick="BatchApplyPayment();" btnkey="BatchPayment" istuhuverify="1" />
        </div>
        <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
    }
</div><br/>
<div id="PoItemList">
    @Html.Partial("PurchaseOrderList")
</div>

<div style="margin-top: 5px;">
    <span>当前页：</span>  <input type="text" readonly="readonly" id="PageNumber" name="PageNumber" value="1" style="width:50px;" />
    <span onclick="SearchTotalCount()" style="color:cornflowerblue;cursor:pointer;">总页数：</span>
    <span id="TotalPageNum" style="color:red"></span>
</div>
<div class="Pager" style="margin-top:10px;">
    <input id="FirstPage" type="button" value="首页" class="btn btn-sm btn-primary" />
    <input id="PrevPage" type="button" value="上一页" class="btn btn-sm btn-success" />
    <input id="NextPage" type="button" value="下一页" class="btn btn-sm btn-success" />
    <span>页数：</span>
    <input id="ManalePageNum" type="text" value="" style="width:50px;">
    <input id="LastPage" type="button" value="跳转" class="btn btn-sm btn-primary">
</div>
<div id="EditPoItem" style="display: none;"></div>
<input type="hidden" id="purchaseId_cache"/>

<script type="text/javascript">
    var operationCount = 1;
    var loading;
    $(function() {
        $("select").select2();
        $("#status").val('@ViewBag.Status');
        //加载数据
        SubmitData();
        //首页点击
        $("#FirstPage").click(function () {
            $("#PageNumber").val(1);
            $("#pageNumber").val(1);

            $("#PrevPage").attr("disabled", "disabled");
            $("#FirstPage").attr("disabled", "disabled");
            $("#SearchForm").ajaxSubmit({
                url: '/InfoList/PurchaseOrderList',
                beforeSend: function () {
                    loading = layer.load(2);
                },
                success: function (html) {
                    layer.close(loading);
                    $("#PoItemList").empty().html(html);
                    $("#purchaseId_cache").val("");
                    showChecked();
                }
            });
        });
        //上一页
        $("#PrevPage").click(function () {
            var pageNumber = new Number($("#PageNumber").val());
            //当点击下一页时，首页和上一页可以点击
            pageNumber -= 1;
            if (pageNumber == 1) {
                $("#PrevPage").attr("disabled", "disabled");
                $("#FirstPage").attr("disabled", "disabled");
            }
            //alert(pageNumber);
            $("#PageNumber").val(pageNumber);

            $("#pageNumber").val(pageNumber);

            $("#SearchForm").ajaxSubmit({
                url: '/InfoList/PurchaseOrderList',
                beforeSend: function () {
                    loading = layer.load(2);
                },
                success: function (html) {
                    layer.close(loading);

                    $("#PoItemList").empty().html(html);
                    showChecked();
                }
            });
        });
        //下一页
        $("#NextPage").click(function () {
            //行数小于16，下一页没有数据
            if ($('#PoItemList').find('table').length < 33) {
                return false;
            }
            var pageNumber = new Number($("#PageNumber").val());
            //当点击下一页时，首页和上一页可以点击
            if (pageNumber == 1) {
                $("#PrevPage").removeAttr("disabled");
                $("#FirstPage").removeAttr("disabled");
            }
            pageNumber += 1;
            //alert(pageNumber);
            $("#PageNumber").val(pageNumber);

            $("#pageNumber").val(pageNumber);

            $("#SearchForm").ajaxSubmit({
                url: '/InfoList/PurchaseOrderList',
                beforeSend: function () {
                    loading = layer.load(2);
                },
                success: function (html) {
                    layer.close(loading);

                    $("#PoItemList").empty().html(html);
                    showChecked();
                }
            });
        });
        //尾页
        $("#LastPage").click(function () {
            var re = /^[0-9]*[1-9][0-9]*$/;
            if (!re.test($("#ManalePageNum").val())) {
                alert("跳转页数必须是大于0的正整数");
                return false;
            }
            var pageNumber = new Number($("#ManalePageNum").val());
            if (pageNumber > 1) {

                $("#PrevPage").removeAttr("disabled");
                $("#FirstPage").removeAttr("disabled");

            }
            else {
                $("#PrevPage").attr("disabled", "disabled");
                $("#FirstPage").attr("disabled", "disabled");
            }
            $("#ManalePageNum").attr("value", "");
            $("#PageNumber").val(pageNumber);
            $("#pageNumber").val(pageNumber);

            $("#SearchForm").ajaxSubmit({
                url: '/InfoList/PurchaseOrderList',
                beforeSend: function () {
                    loading = layer.load(2);
                },
                success: function (html) {
                    layer.close(loading);
                    $("#PoItemList").empty().html(html);
                    showChecked();
                }
            });
        });
    });
    //跨页保留显示已选择的
    function showChecked() {
        if ($("#purchaseId_cache").val() != "") {
            var id = $("#purchaseId_cache").val();
            var $tbodyCheckBox = $("#PoItemList #tbody").find("input[type='checkbox']");
            $tbodyCheckBox.each(function () {
                if (id.indexOf($(this).attr("value")) > -1) {
                    $(this).prop("checked", true);
                    $(this).parentsUntil("div:#PoItemList").find("input").prop("checked", true);
                }
            });
        }
    }
    //查询点击
    function SubsearchShopPosIndexTable() {
        event.preventDefault();

        if ($("#purchaseId").val().trim() !== "" && !/^\d+$/.test($("#purchaseId").val().trim())) {
            alert("采购单号输入有误，请重新输入！");
            return false;
        }
        $("#PageNumber").val(1);
        $("#pageNumber").val(1);
        $("#SearchForm").ajaxSubmit({
            url: '/InfoList/PurchaseOrderList',
            beforeSend: function () {
                loading = layer.load(2);
            },
            success: function (html) {
                $("#PoItemList").empty().append(html);
                $("#purchaseId_cache").val("");
                $("#currentpage-checkbox").prop("checked", false);
                operationCount = 1;
                layer.close(loading);

                $("#PageNumber").val(1);
                $("#pageNumber").val(1);
                $("#TotalPageNum").text("");
            },
            error: function () {
                layer.close(loading);
                layer.msg('查询失败！', { icon: 0, time: 2000 });
            }
        });
    }
    //数据查询
    function SubmitData()
    {
        $("#PageNumber").val(1);
        $("#pageNumber").val(1);

        $("#PrevPage").attr("disabled", "disabled");
        $("#FirstPage").attr("disabled", "disabled");

        $("#SearchForm").ajaxSubmit({
            url: '/InfoList/PurchaseOrderList',
            beforeSend: function () {
                loading = layer.load(2);
            },
            success: function (html)
            {
                layer.close(loading);

                $("#PoItemList").empty().append(html);
                $("#purchaseId_cache").val("");
            }
        });
    }
    //展开或收缩额外检索项
    function ShowSearchCondition(target) {
        $("#moresearchcondition").slideToggle("slow");
        if ($(target).text() === "更多查询条件") {
            $(target).text("收起查询条件");
        } else {
            $(target).text("更多查询条件");
        }
    }
    //展开收起子产品
    function ExpandedAndPackup(target) {
        var $self = $(target);
        var status = $self.attr("tag-status");
        if (status === "unfold") {
            $self.next().slideDown("slow");
            $self.attr("tag-status", "merge");
        } else {
            $self.next().slideUp("slow");
            $self.attr("tag-status", "unfold");
        }
    }
    //选中需要申请的数据并把数据存到页面缓存中
    function SelectPurchaseId(obj) {
        var cachedValue = $("#purchaseId_cache").val();
        var purchaseId = $(obj).attr("value");
        if (obj.checked) {
            cachedValue += purchaseId + ",";

        } else {
            cachedValue = cachedValue.replace(purchaseId + ",", "");
        }
        $("#purchaseId_cache").val(cachedValue);
    }
    //判断日期，时间大小 
    function compareTime(startDate, endDate) {
        if (startDate.length > 0 && endDate.length > 0) {
            var startDateTemp = startDate.split(" ");
            var endDateTemp = endDate.split(" ");

            var arrStartDate = startDateTemp[0].split("-");
            var arrEndDate = endDateTemp[0].split("-");

            var allStartDate = new Date(arrStartDate[0], arrStartDate[1], arrStartDate[2]);
            var allEndDate = new Date(arrEndDate[0], arrEndDate[1], arrEndDate[2]);

            if (allStartDate.getTime() >= allEndDate.getTime()) {
                return false;
            } else {
                return true;
            }
        } else {
            alert("时间不能为空");
            return false;
        }
    }
    //查找订单总数
    function SearchTotalCount() {
        $("#SearchForm").ajaxSubmit({
            url: '/InfoList/SearchTotalCount',
            success: function (num) {
                if (num == 0) {
                    $("#TotalPageNum").text(num);
                }
                else {
                    var nums = Math.ceil(num / 15) + "页";
                    $("#TotalPageNum").text(nums);
                }
            }
        });
    }
    //页面全选
    function CheckCurrentPageCheckBox(target) {
        event.stopPropagation();
        if (operationCount == 1) {
            layer.msg('请注意被选中采购单付款状态！', { icon: 0, time: 2000 });

            operationCount++;
        }
        var id = $("#purchaseId_cache").val();
        var $tbodyCheckBox = $("#PoItemList #tbody").find("input[type='checkbox']");
        if ($(target).prop("checked")) {
            if (id !== "") {
                var idArray = id.split(',');
                if (idArray.length > 90) {
                    $("#currentpage-checkbox").prop("checked", false);
                    layer.msg('你请款的采购单过多，请提交后继续请款！', { icon: 0, time: 2000 });

                    return false;
                }
            }
            $tbodyCheckBox.each(function () {
                if ($(this).prop("checked") === false) {
                    id += $(this).attr("value") + ",";
                }
            });
            $("#PoItemList").find("input[type='checkbox']").prop("checked", true);
        } else {
            $tbodyCheckBox.each(function () {
                if ($(this).prop("checked") === true) {
                    id = id.replace($(this).attr("value") + ",", "");
                }
            });
            $("#PoItemList").find("input[type='checkbox']").prop("checked", false);
        }
        $("#purchaseId_cache").val(id);
    }
    //采购订单全选
    function SelectDivCheckBox(target) {
        event.stopPropagation();
        if (operationCount == 1) {
            layer.msg('请注意被选中采购单付款状态！', { icon: 0, time: 2000 });
            operationCount++;
        }
        var id = $("#purchaseId_cache").val();
        var $div = $(target).closest("div").next().find("table");
        if ($(target).prop("checked")) {
            $div.find("#tbody tr").each(function () {
                var columns = $(this).children();
                var checkbox = columns.eq(0).find("input");
                if (checkbox.prop("checked") === false) {
                    id += checkbox.attr("value") + ",";
                }
            });
            $div.find("input[type='checkbox']").prop("checked", true);
        } else {
            $div.find("#tbody tr").each(function () {
                var columns = $(this).children();
                var checkbox = columns.eq(0).find("input");
                if (checkbox.prop("checked") === true) {
                    id = id.replace(checkbox.attr("value") + ",", "");
                }
            });
            $div.find("input[type='checkbox']").prop("checked", false);
        }
        $("#purchaseId_cache").val(id);
    }
    //子采购单全选
    function SelectAll(target) {
        var id = $("#purchaseId_cache").val();
        if ($(target).prop("checked") == true) {
            $(target).closest("table").find("#tbody tr").each(function () {
                var columns = $(this).children();
                var checkbox = columns.eq(0).find("input");
                if (checkbox.prop("checked") === false) {
                    id += checkbox.attr("value") + ",";
                }
            });
            $(target).closest("table").find("input[type='checkbox']").prop("checked", true);
        } else {
            $(target).closest("table").find("#tbody tr").each(function () {
                var columns = $(this).children();
                var checkbox = columns.eq(0).find("input");
                if (checkbox.prop("checked") === true) {
                    id = id.replace(checkbox.attr("value") + ",", "");
                }
            });
            $(target).closest("table").find("input[type='checkbox']").prop("checked", false);
        }
        $("#purchaseId_cache").val(id);
    }
    //删除采购订单
    function DeletePurchaseOrderForPurchaseList(obj, purchaserOrderId) {
        event.stopPropagation();
        $.ajax({
            url: "/InfoList/PurchaseOrderCause",
            data: { "purchaseId": 0, "orderNo": purchaserOrderId, "pid": "暂时不显示", "type": "all" },
            type: "Get",
            success: function (html) {
                layer.open({
                    type: 1,
                    title: "删除采购订单",
                    skin: 'layui-layer-rim', //加上边框
                    offset: '100px',//居上
                    content: html,
                    area: ['500px', '320px'], //宽高
                    btn: ['删除', '取消'],
                    yes: function () {
                        var deleteReason = $("#otherreason").val();
                        if (deleteReason !== "" && typeof deleteReason != "undefined") {
                            var arr = new Array();
                            var tbody = $(obj).closest(".purchaseorder-wrapper").find("#tbody");
                            for (var j = 0; j < tbody[0].children.length; j++) {
                                var purchaseItemJson = { "PurchaseId": "", PurchaseOrderId: "", "Pid": "", "RejectReason": "" };

                                var td = tbody[0].children[j].children[0];
                                var pItemOrderId = $(td).attr("id").split("_")[1];
                                var pid = $.trim(tbody[0].children[j].children[3].innerText);

                                purchaseItemJson.PurchaseId = purchaserOrderId;
                                purchaseItemJson.PurchaseOrderId = pItemOrderId;
                                purchaseItemJson.Pid = pid;
                                purchaseItemJson.RejectReason = $.trim(deleteReason);
                                arr[j] = purchaseItemJson;
                            }
                            if (arr.length > 0) {
                                $.ajax({
                                    url: "/InfoList/DeletePurchaseOrderForPurchaseList",
                                    data: { "purchaseOrderJson": JSON.stringify(arr) },
                                    type: "POST",
                                    success: function (result) {
                                        //取得所有为Success的订单
                                        var tbody = $(obj).closest(".purchaseorder-wrapper").find("#tbody");
                                        var deleteSuccessCount = 0;
                                        for (var i = 0; i < result.length; i++) {
                                            if (result[i].Value === "Success") {
                                                deleteSuccessCount++;
                                            }
                                        }
                                        //如果都删除成功后,那么直接将这个div给移除掉
                                        if (deleteSuccessCount == tbody[0].children.length) {
                                            // 取得purchaseorder-wrapper div
                                            var div = $(obj).closest(".purchaseorder-wrapper");
                                            div.hide();
                                        }
                                            //该采购单下多个Item还有其他的状态    只能删除部分的采购订单
                                        else {

                                            var forbitId = '';
                                            var occuptId = '';
                                            var paid = '';
                                            var otherId = '';
                                            var outputMessage = '';

                                            for (var i = 0; i < result.length; i++) {
                                                var resultData = result[i];
                                                //如果该PurchaseOrderItem 为可删除状态,从采购单下移除
                                                if (resultData.Value === "Success") {
                                                    // var orderIdArr = result.split(",");
                                                    for (var j = 0; j < tbody[0].children.length; j++) {
                                                        var td = tbody[0].children[j].children[0];
                                                        var purchaseOrderId = $(td).attr("id").split("_")[1];

                                                        if (purchaseOrderId == resultData.Name) {
                                                            tbody[0].children[j].remove();
                                                            break;
                                                        }
                                                    }
                                                }
                                                else if (resultData.Value === "Forbid") {
                                                    forbitId += resultData.Name + ',';
                                                }
                                                else if (resultData.Value === "Occupy") {
                                                    occuptId += resultData.Name + ',';
                                                }
                                                else if (resultData.Value === "2Paid") {
                                                    paid += resultData.Name + ',';
                                                }
                                                else {
                                                    otherId += $.trim(resultData.Value) + "订单" + resultData.Name + ',';
                                                }
                                            }

                                            if (forbitId !== '' && forbitId != null) {
                                                outputMessage += "采购单" + forbitId.substring(0, forbitId.length - 1) +
                                                        "已经请款或者已经付款，禁止删除！" + "\n";
                                            }

                                            if (occuptId !== '' && occuptId != null) {
                                                outputMessage += "删除采购单" + occuptId.substring(0, occuptId.length - 1) +
                                                        "前，请先释放占用！" + "\n";
                                            }
                                            if (paid !== '' && paid != null) {
                                                outputMessage += "已付款的采购订单" + paid.substring(0, paid.length - 1) +
                                                        "不能删除！" + "\n";
                                            }
                                            if (otherId !== '' && otherId != null) {
                                                outputMessage += otherId.substring(0, otherId.length - 1) +
                                                        " 不能删除！" + "\n";
                                            }
                                            if (outputMessage !== '' && outputMessage != null) {
                                                layer.msg(outputMessage, { icon: 0, time: 2000 });
                                            }
                                        }
                                    }
                                });
                            }
                        } else {
                            layer.msg('原因不能为空！', { icon: 2, time: 2000 });
                            return false;
                        }
                    },
                    cancel: function () { }
                });
            }
        });
    }
    //编辑子采购订单
    function EditPoItem1(target, purchaseId, status) {
        var $target = $(target).closest("tr").children();
        var $tds = $(target).closest("div").prev().find('td');
        $.ajax({
            url: "/InfoList/EditPurchaseOrderItem",
            data: { "purchaseId": purchaseId, "status": status },
            type: "Get",
            success: function (html) {
                layer.open({
                    type: 1,
                    title: "编辑采购订单",
                    skin: 'layui-layer-rim', //加上边框
                    content: html,
                    area: ['850px', '600px'], //宽高
                    btn: ['修改', '取消'],
                    yes: function () {
                        var remark = $('#Remark').val();
                        var shipType = $('#ShipmentType').find('option:selected').text();
                        var reg = new RegExp("-", "g");//g,表示全部替换。
                        var instockDate = $('#PlanedInstockDate').val().replace(reg, '/');

                        $("#editForm").ajaxSubmit({
                            url: this.href,
                            success: function (result) //返回的是Json类型的
                            {
                                if (result != false) {
                                    $target.eq(10).text(remark);
                                    $target.eq(14).find('label').text(instockDate);
                                    $tds.eq(5).find('span').text(shipType);

                                    layer.closeAll();
                                    layer.msg("编辑采购单成功！", { icon: 1, time: 2000 });
                                    //SubmitData();
                                } else {
                                    layer.msg("采购单已被占用,仅能修改备注！", { icon: 2, time: 2000 });
                                }
                            },
                            error: function () {
                                layer.msg("修改失败！", { icon: 2, time: 2000 });
                            }
                        });
                    },
                    cancel: function () { }
                });
                $("#oldPlanedInstockDate").val($("#PlanedInstockDate").val().substring(0, 10));
                $("#oldPurchaseQuantity").val($("#Num").val());
            }
        });
    }
    //删除子采购订单
    function DeletePoItem(target, orderNo, pid, purchaseId) {
        $.ajax({
            url: "/InfoList/PurchaseOrderCause",
            data: { "purchaseId": purchaseId, "orderNo": orderNo, "pid": pid },
            type: "Get",
            success: function (html) {
                var alertText = "";
                switch (html.trim()) {
                    case "Success":
                        alertText = "删除成功！";
                        $(target).closest("tr").remove();
                        break;
                    case "Forbid":
                        alertText = "已请款/付款的收货采购单，禁止删除！";
                        break;
                    case "Occupy":
                        alertText = "删除采购单前，请先释放占用！";
                        break;
                    case "2Paid":
                        alertText = "已付款的采购订单不能删除！";
                        break;
                    case "2PartPaid":
                        alertText = "部分请款的采购单删除前，请先创建完全红冲并抵扣！";
                        break;
                    default:
                        if (html.trim().startsWith("false")) {
                            alertText = html.trim().replace("false", "") + "的采购订单不能删除！";
                        }
                        break;
                }
                if (alertText === "") {
                    layer.open({
                        type: 1,
                        title: "删除采购订单",
                        skin: 'layui-layer-rim', //加上边框
                        content: html,
                        area: ['500px', '320px'], //宽高
                        btn: ['删除', '取消'],
                        yes: function () {
                            var deleteReason = $("#otherreason").val();
                            if (deleteReason.trim() !== "") {
                                $.ajax({
                                    type: 'post',
                                    url: '/InfoList/DeletePoItem',
                                    data: { "purchaseId": purchaseId, "orderNo": orderNo, "pid": pid, "deleteReason": deleteReason },
                                    async: false,
                                    success: function (result) {
                                        var remsg = "";
                                        switch (result.trim()) {
                                            case "Success":
                                                remsg = "删除成功！";
                                                $(target).closest("tr").remove();
                                                layer.closeAll();
                                                break;
                                            case "Forbid":
                                                remsg = "已请款/付款的收货采购单，禁止删除！";
                                                break;
                                            case "Occupy":
                                                remsg = "删除采购单前，请先释放占用！";
                                                break;
                                            case "2Paid":
                                                remsg = "已付款的采购订单不能删除！";
                                                break;
                                            case "2PartPaid":
                                                remsg = "部分请款的采购单删除前，请先创建完全红冲并抵扣！";
                                                break;
                                            default:
                                                remsg = result.trim().replace("false", "") + "的采购订单不能删除！";
                                                break;
                                        }
                                        layer.msg(remsg, { icon: 0, time: 2000 });
                                    },
                                    error: function () {
                                        layer.msg('删除失败！', { icon: 0, time: 2000 });
                                    }
                                });
                            } else {
                                layer.msg('原因不能为空！', { icon: 2, time: 2000 });
                                return false;
                            }
                        },
                        cancel: function () { }
                    });
                } else {
                    layer.msg(alertText, { icon: 0, time: 2000 });
                }
            }
        });
    }
    //创建红冲
    function CreatePurchaseReverse(purchaseId) {
        $.ajax({
            url: "/InfoList/GetPurchaseReverseData",
            data: { "purchaseId": purchaseId, "type": "create" },
            type: "GET",
            success: function (result) {
                if (result === "只有新建或已发货且已付款的采购订单才能创建红冲！") {
                    layer.msg(result, { icon: 2, time: 2000 });
                } else {
                    layer.open({
                        type: 1,
                        title: "创建红冲",
                        skin: 'layui-layer-rim', //加上边框
                        content: result,
                        area: ['750px', '450px'], //宽高
                        btn: ['确定', '取消'],
                        yes: function () {
                            $("#reverseForm").ajaxSubmit({
                                url: this.url,
                                type: "GET",
                                success: function (result) {
                                    if (result === "SUCCESS") {
                                        layer.closeAll();
                                        layer.msg("创建成功", { icon: 1, time: 2000 });
                                        $("#reverse_" + purchaseId).text("");
                                    }
                                }
                            });
                        },
                        cancel: function () { }
                    });
                }
            }
        });
    }
    //审核红冲
    function AuditPurchaseReverse(purchaseId) {
        $.ajax({
            url: "/InfoList/GetPurchaseReverseData",
            data: { "purchaseId": purchaseId, "type": "audit" },
            type: "GET",
            success: function (result) {
                layer.open({
                    type: 1,
                    title: "审核红冲",
                    skin: 'layui-layer-rim', //加上边框
                    content: result,
                    area: ['750px', '450px'], //宽高
                    btn: ['同意', '驳回'],
                    yes: function () {
                        var relatedPoId = $("#Reverse").val().trim();
                        $.ajax({
                            url: "/InfoList/AuditOrTurnDownReverseOrTurnedGoods",
                            data: { "purchaseId": purchaseId, "reason": "", "operateType": "AuditData", "relatedPoItemId": relatedPoId },
                            type: "GET",
                            success: function (result) {
                                if (result === "SUCCESS") {
                                    layer.closeAll();
                                    layer.msg("审核成功！", { icon: 1, time: 2000 });

                                    $("#status_" + purchaseId).text("新建").removeClass("error");
                                    $("#auditReverse_" + purchaseId).text("");
                                }
                            }
                        });

                    },
                    btn2: function(){
                        var reason = $("#Remark").val().trim();
                        var relatedPoId = $("#Reverse").val().trim();
                        $.ajax({
                            url: "/InfoList/AuditOrTurnDownReverseOrTurnedGoods",
                            data: { "purchaseId": purchaseId, "reason": reason, "operateType": "Rejection", "relatedPoItemId": relatedPoId },
                            type: "GET",
                            success: function (result) {
                                if (result === "SUCCESS") {
                                    layer.closeAll();
                                    layer.msg("驳回成功！", { icon: 1, time: 2000 });

                                    $("#relatedPKID_" + purchaseId).text("");
                                    $("#status_" + purchaseId).text("已取消");
                                    $("#reverse_" + purchaseId).text("");
                                }
                            }
                        });
                    },
                    cancel: function() { }
                });
            }
        });
    }
    //占用明细
    function ShowUsedDetail(purchaseId) {
        $.ajax({
            url: "/InfoList/ShowPoItemUsedDetail",
            data: { "poItemId": purchaseId },
            type: "Get",
            success: function (result) {
                if (result === true) {
                    layer.msg("出错啦！", { icon: 0, time: 2000 });
                } else {
                    layer.open({
                        type: 1,
                        title: "采购单占用明细",
                        skin: 'layui-layer-rim', //加上边框
                        content: result,
                        area: ['550px', '250px'], //宽高
                        btn: ['关闭'],
                        cancel: function () { }
                    });
                }
            },
            error: function (result) {
                layer.msg(result, { icon: 0, time: 2000 });
            }
        });
    }
    //调整价格（补差价）
    function MakeUpDifference(orderId, itemId, purchasePrice) {
        $.ajax({
            url: "/InfoList/MakeUpDiffPrice",
            data: { "purchasePrice": purchasePrice },
            type: "POST",
            success: function (data) {
                layer.open({
                    type: 1,
                    title: "补差价申请",
                    skin: 'layui-layer-rim', //加上边框
                    content: data,
                    area: ['500px', '350px'], //宽高
                    btn: ['申请', '取消'],
                    yes: function () {
                        var diffPrice = $("#txtDifference").val().trim();
                        var reason = $("#txtReason").val().trim();

                        if (diffPrice == "") {
                            layer.msg("请填写采购差价！", { icon: 2, time: 2000 });
                            return false;
                        }
                        var reg = /^-?\d+\.?\d*$/;
                        if (!reg.test(diffPrice)) {
                            layer.msg("填写的差价必须是数字！", { icon: 2, time: 2000 });
                            return false;
                        }
                        if (reason == "") {
                            layer.msg("请填写补采购差价原因！", { icon: 2, time: 2000 });
                            return false;
                        }

                        var flag = false;
                        $.ajax({
                            url: "/InfoList/IsMakedUpDiffPrice",
                            data: { "orderId": orderId, "itemId": itemId },
                            type: "POST",
                            async: false,
                            success: function (data1) {
                                if (data1 == "true") {
                                    flag = true;
                                }
                            }
                        });
                        if (flag) {
                            layer.msg("该采购订单已经调整差价,请刷新页面！", { icon: 0, time: 2000 });
                            return false;
                        }

                        $.ajax({
                            url: "/InfoList/PurchaseMakeUpDiffPrice",
                            data: { "orderId": orderId, "itemId": itemId, "diffPrice": diffPrice, "reason": reason },
                            type: "POST",
                            success: function (data2) {
                                if (data2 == "true") {
                                    layer.closeAll();
                                    layer.msg("申请成功！", { icon: 1, time: 2000 });
                                    var elemId = "#makeUpDiffPrice_" + itemId;
                                    $(elemId).parent().html("<span style='color:red;'>调价待审</span>");
                                } else if (data2 == "只有已收货的采购订单才能调整价格！") {
                                    layer.msg(data2, { icon: 0, time: 2000 });
                                }
                            }
                        });
                    },
                    cancel: function () { }
                });
            }
        });
    }
    //创建采购任务
    function CreatePurchaseTask(taskId) {
        $("#window").append("<div id=\"taskLink\"></div>");
        $("#taskLink").load("/InfoList/QuhuoTaskLink?id=" + taskId + "&type=caigou");
        var elems = $("#window");
        layer.open({
            type: 1,
            title: "给物流创建任务，请详细说明问题",
            skin: 'layui-layer-rim', //加上边框
            content: elems,
            area: ['850px', '500px'], //宽高
            btn: ['确定', '取消'],
            yes: function () {
                var category = $("#category").val();
                if (category === "") {
                    layer.msg("请选择类型！", { icon: 2, time: 2000 });
                    return false;
                }
                var remark = $("#txtRemark").val().replace(/(^\s+)|(\s+$)/g, "").replace(/\s/g, "");
                if (remark === "" || remark == null) {
                    layer.msg("请填写备注！", { icon: 2, time: 2000 });
                    return false;
                }
                $.ajax({
                    type: 'post',
                    url: '/InfoList/CreateTask',
                    data: { "pkId": taskId, "category": category, "remark": remark, "type": "caigou" },
                    success: function (result) {
                        layer.closeAll();
                        layer.msg( result, { icon: 2, time: 2000 });
                    }
                });
            },
            cancel: function () { }
        });
    }
    //查看历史
    function ShowPurchaseHistory(poId) {
        $.ajax({
            url: "/InfoList/ShowModifiedHistory",
            data: { "purchaseId": poId },
            type: "POST",
            success: function (html) {
                layer.open({
                    type: 1,
                    title: "历史记录",
                    skin: 'layui-layer-rim', //加上边框
                    content: html,
                    area: ['750px', '480px'], //宽高
                    zIndex: 110,
                    btn: ['关闭'],
                    cancel: function () { }
                });
            }
        });
    }
    //查看调价驳回原因
    function ViewPurchaseDiffPrice(orderId, itemId) {
        $.ajax({
            url: "/InfoList/GetPurchaseDiffPriceRejectReason",
            data: { "orderId": orderId, "itemId": itemId },
            type: "POST",
            success: function (data) {
                if (data !== "") {
                    layer.open({
                        type: 1,
                        title: "调价驳回原因",
                        skin: 'layui-layer-rim', //加上边框
                        content: '<span style="margin:5px;font-weight:400;font-size:16px;">' + data + '</span>',
                        area: ['400px', '250px'], //宽高
                        btn: ['关闭'],
                        cancel: function () { }
                    });
                }
            }
        });
    }
    //查看凭证
    function ViewVoucherImg(purchaseId) {
        $.ajax({
            url: "/InfoList/CheckPurchasePaymentVoucherExist",//判断是否在新表中存在
            data: { "purchaseId": purchaseId, "billNo": "", "flag": 2 },
            type: "POST",
            success: function (result1) {
                //在新表中存在
                if (result1 === 'Yes') {
                    layer.open({
                        type: 1,
                        title: "凭证截图",
                        skin: 'layui-layer-rim', //加上边框
                        content: "<img src='/InfoList/GetVoucherImgFromByteTable?purchaseId=" + purchaseId + "'/>",
                        area: ['700px', '500px'], //宽高
                        btn: ['下载', '关闭'],
                        yes: function () {
                            location.href = "/InfoList/DownloadVoucherFromByteTable?purchaseId=" + purchaseId;
                        },
                        cancel: function () { }
                    });
                }
                else {
                    $.ajax({
                        url: "/InfoList/GetVoucherImg",
                        data: { "purchaseId": purchaseId },
                        type: "POST",
                        success: function (result2) {
                            if (result2 != null && result2 !== '') {
                                layer.open({
                                    type: 1,
                                    title: "凭证截图",
                                    skin: 'layui-layer-rim', //加上边框
                                    content: "<img src='@FileUrlConfig.VoucherDownloadUrl" + result2 + "'/>",
                                    area: ['700px', '500px'], //宽高
                                    btn: ['下载', '关闭'],
                                    yes: function () {
                                        location.href = "/InfoList/DownloadVoucher?purchaseId=" + purchaseId;
                                    },
                                    cancel: function () { }
                                });
                            }
                            else {
                                layer.open({
                                    type: 1,
                                    title: "凭证截图",
                                    skin: 'layui-layer-rim', //加上边框
                                    content: "<p style='color:#888;margin-top:25px;border:1px solid #eee;text-align:center;padding:10px;'>此申请单没有凭证截图</p>",
                                    area: ['700px', '500px'], //宽高
                                    btn: ['关闭'],
                                    cancel: function () { }
                                });
                            }
                        }
                    });
                }
            }
        });
    }
    //查看请款驳回原因
    function GetTurnDownReason(purchaseId) {
        layer.open({
            type: 1,
            title: "申请用款驳回理由",
            skin: 'layui-layer-rim', //加上边框
            content: $("#hidden_rejectionReason_" + purchaseId).val(),
            area: ['300px', '200px'], //宽高
            btn: ['关闭'],
            cancel: function () { }
        });
    }
    //确认运输耗材
    function ConfirmationFreight(target, poItemId) {
        layer.confirm('确认运费耗材？', { icon: 0, title: '提示' }, function (index) {
            $.ajax({
                type: 'post',
                url: '/InfoList/ConfirmationFreight',
                data: { "poItemId": poItemId },
                beforeSend: function () {
                    loading = layer.load(2);
                },
                success: function (result) {
                    var $target = $(target).closest("tr").children();
                    $("#status_" + poItemId).text(result.Status);
                    $target.eq(5).html(result.Num);
                    //$target.eq(8).html(result.InstockTotalPrice.toFixed(2));
                    $(target).remove();
                    layer.closeAll();
                    layer.msg("确认运费耗材成功！", { icon: 1, time: 2000 });
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    layer.closeAll();
                    layer.msg("确认运费耗材失败！", { icon: 2, time: 2000 });
                }
            });
        });
    }
    //结束收货
    function FinishedGoodsReceipt(target, poItemId) {
        layer.confirm('确认结束收货？', { icon: 0, title: '提示' }, function (index) {
            $.ajax({
                type: 'post',
                url: '/InfoList/FinishedGoodsReceipt',
                data: { "poItemId": poItemId },
                beforeSend: function () {
                    loading = layer.load(2);
                },
                success: function (result) {
                    layer.closeAll();
                    if (result == true) {
                        $(target).closest("tr").remove();
                    } else if (result == false) {
                        layer.msg("存在未付款的请款单，不能结束收货！", { icon: 0, time: 2000 });
                    } else {
                        layer.msg(result, { icon: 0, time: 2000 });
                    }
                },
                error: function () {
                    layer.closeAll();
                    layer.msg("结束收货出错！", { icon: 2, time: 2000 });
                }
            });
        });
    }
    //创建退货
    function CreatePurchaseReturnGoods(purchaseId) {
        $.ajax({
            url: "/InfoList/IsCanReturnGoods",
            data: { "purchaseId": purchaseId },
            type: "POST",
            async: false,
            success: function (data) {
                if (data === "FALSE") {
                    layer.msg("该采购单已经进入审核流程，禁止退货操作！", { icon: 0, time: 2000 });
                }
                else if (data === "已收货的采购单才能进行退货，请刷新页面！") {
                    layer.msg("已收货的采购单才能进行退货，请刷新页面！", { icon: 0, time: 2000 });
                } else {
                    $.ajax({
                        url: "/InfoList/GetPurchaseReturnGoods",
                        data: { "purchaseId": purchaseId },
                        type: "GET",
                        success: function (result) {
                            layer.open({
                                type: 1,
                                title: "申请退货",
                                skin: 'layui-layer-rim', //加上边框
                                content: "<div id='returnGoodsList'>" + result + "</div>",
                                area: ['850px', '600px'], //宽高
                                btn: ['关闭'],
                                cancel: function () { }
                            });
                        }
                    });
                }
            }
        });
    }
    //批量申请付款
    function BatchApplyPayment() {
        var flag = false;
        var id = $("#purchaseId_cache").val();
        if (id === "") {
            layer.msg("请选择需要申请付款的数据！", { icon: 0, time: 2000 });
            return false;
        }
        $.ajax({
            url: "/InfoList/IsNotOneVendor",
            data: { "purchaseId": id },
            type: "POST",
            async: false,
            success: function (result) {
                if (result === "YES") {
                    flag = true;
                    return false;
                }
            }
        });
        if (flag) {
            layer.msg("选择的采购订单中有多个供应商！", { icon: 0, time: 2000 });
            return false;
        }
        $.ajax({
            url: "/InfoList/ApplyPaymentPurchaseOrder",
            data: { "id": id },
            type: "GET",
            async: false,
            success: function (html) {
                layer.open({
                    type: 1,
                    title: "请款采购单信息",
                    skin: 'layui-layer-rim', //加上边框
                    content: html,
                    area: ['900px', '500px'], //宽高
                    zIndex: 110,
                    btn: ['请款', '取消'],
                    yes: function () {
                        var array = new Array();
                        var i = 0;
                        $("#payment-message tr").each(function () {
                            var purchaseId = $(this).attr("data-id");
                            var quantity = $(this).find("input[type='number']").val();
                            if (quantity != "0") {
                                var cartList = { "PKID": purchaseId, "Num": quantity };
                                array[i++] = cartList;
                            }
                        });
                        if (array.length > 0) {
                            $.ajax({
                                url: "/InfoList/ApplyPayment",
                                data: { "purchaseOrderList": JSON.stringify(array), "id": id },
                                type: "Post",
                                async: false,
                                success: function (html1) {
                                    layer.open({
                                        type: 1,
                                        title: "申请付款",
                                        skin: 'layui-layer-rim', //加上边框
                                        content: html1,
                                        area: ['850px', '450px'], //宽高
                                        zIndex: 150,
                                        btn: ['提交', '取消'],
                                        yes: function() {
                                            $("#purchaseId_cache").val("");
                                            operationCount = 1;
                                            GetPaymentInfo(JSON.stringify(array), id);
                                            $(".purchaseorder-wrapper").find("input[type='checkbox']:checked").prop("checked", false);
                                            layer.closeAll();
                                        },
                                        cancel: function () { }
                                    });
                                    $("#purchaseId_cache").val("");
                                    operationCount = 1;
                                }
                            });
                        } else {
                            layer.msg("请选择有效的采购单进行请款！", { icon: 0, time: 2000 });
                        }
                        return false;
                    },
                    btn2: function () {
                        $("#purchaseId_cache").val("");
                        operationCount = 1;
                        $(".purchaseorder-wrapper").find("input[type='checkbox']:checked").prop("checked", false);
                        $("div[tabindex='-1']").remove();
                    },
                    cancel: function() {
                        $("#purchaseId_cache").val("");
                        operationCount = 1;
                        $(".purchaseorder-wrapper").find("input[type='checkbox']:checked").prop("checked", false);
                        $("div[tabindex='-1']").remove();
                    }
                });
            }
        });
    }
    //采购请款操作
    function GetPaymentInfo(purchaseOrderList, purchaseId) {
        var dataArr = new Array();
        var payer = $("#department").text().trim();
        var payee = $("#payee").find("div.cell_value").text().trim();
        var account = $("#account").find("div.cell_value").text().trim();
        var depositBank = $("#deposit_bank").find("div").text().trim();
        var chineseSumAmount = $("#chinese_sum_amount").text().trim();
        var sumAmount = $("#sum_amount").text().trim();
        var remark = $("#remark").find("input").val();
        var rebateAmount = $("#TaxRebate").find("input").val();
        var venderId = $("#hidden_venderId").val();
        var i = 0;
        $(".tr_purchase_info").each(function () {
            var $self = $(this);
            var tagValue = $self.attr("tag-value");
            if (tagValue === "apply") {
                console.log(tagValue);
                var columns = $self.children();
                var jsonData = {
                    "Payer": "",
                    "Payee": "",
                    "Account": "",
                    "Bank": "",
                    "PoId": "",
                    "ProductName": "",
                    "Amount": "",
                    "FreightAmount": "",
                    "IsPlainInvoice": "",
                    "Is17TaxInvoice": "",
                    "Is6TaxInvoice": "",
                    "IsOtherInvoice": "",
                    "IsTakedInvoice": "",
                    "IsGoodsArrival": "",
                    "ChineseSumAmount": "",
                    "SumAmount": "",
                    "Remark": "",
                    "DataType": "",
                    "VenderId": "",
                    "RebateAmount": "",
                    "NetAdvance": ""
                };
                jsonData.Payer = payer;
                jsonData.Payee = payee;
                jsonData.Account = account;
                jsonData.Bank = depositBank;
                jsonData.ChineseSumAmount = chineseSumAmount;
                jsonData.SumAmount = sumAmount;
                jsonData.PoId = columns.eq(0).find("span#poid").text().trim();
                jsonData.DataType = columns.eq(0).find("span#poid").attr("data-type").trim();
                jsonData.VenderId = venderId;
                jsonData.RebateAmount = rebateAmount;
                jsonData.NetAdvance = 0;
                jsonData.ProductName = columns.eq(1).text().trim();
                jsonData.Amount = columns.eq(3).text().trim();
                if (columns.eq(4).text().trim() === "") {
                    jsonData.FreightAmount = 0;
                } else {
                    jsonData.FreightAmount = columns.eq(4).text().trim();
                }
                jsonData.Remark = remark;
                jsonData.IsPlainInvoice = columns.eq(5).find('input:checkbox:first').prop("checked");
                jsonData.Is17TaxInvoice = columns.eq(6).find('input:checkbox:first').prop("checked");
                jsonData.Is6TaxInvoice = columns.eq(7).find('input:checkbox:first').prop("checked");
                jsonData.IsOtherInvoice = columns.eq(8).find('input:checkbox:first').prop("checked");
                jsonData.IsTakedInvoice = columns.eq(9).find('input:checkbox:first').prop("checked");
                jsonData.IsGoodsArrival = columns.eq(10).find('input:checkbox:first').prop("checked");
                dataArr[i] = jsonData;
                i++;
            }
        });

        var dataList = JSON.stringify(dataArr);
        var moneyall = $('#td_money').html();
        if (moneyall === '') {
            moneyall = 0;
        }
        $.ajax({
            url: "/InfoList/SaveApplyPayment",
            data: { "purchaseOrderList": purchaseOrderList, "data": dataList, "storedMoney": moneyall },
            type: "Post",
            success: function (result) {
                $("#purchaseId_cache").val("");
                operationCount = 1;
                if (result !== -1) {
                    layer.msg("成功申请" + result + "条数据!", { icon: 1, time: 2000 });

                    var arrPoId = purchaseId.split(",");
                    $.each(arrPoId, function (index, item) {
                        var auditStatus = "<span style=\"color:#f4a460;\">待财务初审</span>";
                        $("#audit_status_" + item).html(auditStatus);
                        $("#applymentOperate_" + item).text("");
                        $("#chk_" + item).text("");
                    });
                } else if (result === -1) {
                    layer.msg("请款的采购单中，有错误数据，请刷新页面重新请款！", { icon: 2, time: 2000 });
                } else {
                    layer.msg("存在采购单总请款数量超过有效请款数量，请联系研发！", { icon: 2, time: 2000 });
                }
            },
            error: function () {
                $("#purchaseId_cache").val("");
                operationCount = 1;
                layer.msg("申请失败,请联系系统负责人！", { icon: 2, time: 2000 });
            }
        });
    }
    //入库
    function PoInstock(poItemId) {
        $.ajax({
            type: 'get',
            url: '/InfoList/PoInstock',
            data: { "id": poItemId, "returnUrl": "/InfoList/PurchaseOrderIndex" },
            success: function (result) {
                layer.open({
                    type: 1,
                    title: "入库",
                    skin: 'layui-layer-rim', //加上边框
                    content: result,
                    area: ['750px', '350px'], //宽高
                    btn: ['入库', '取消'],
                    yes: function () {
                        if (document.getElementById("WeekYear").value == "") {
                            document.getElementById("WeekYearErr").style.display = "inline";
                            return false;
                        }
                        $("#poStockForm").ajaxSubmit({
                            url: this.url,
                            data: {"id" : poItemId },
                            type: "post",
                            success: function () {
                                layer.closeAll();
                                location.reload();
                            },
                            error: function() {
                                layer.closeAll();
                                layer.msg("数据提交错误！", { icon: 2, time: 2000 });
                            }
                        });
                    },
                    cancel: function () { }
                });

            },
            error: function () {
                layer.closeAll();
                layer.msg("网络传输出错！", { icon: 2, time: 2000 });
            }
        });
    }
</script>
